.btn-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

button {
  font-weight: 600;
  width: 3.2rem;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

.main-content {
  font-size: xx-large;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 3px black;
}
